﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <select id="method">
        <option value="get">GET</option>
        <option value="Post">POST</option>
        <option value="Put">PUT</option>
    </select> 
    <input type="button" value="Try it" onclick="sendRequest()" />
    <span id="value1">(Result)</span>
</div>
<script>
    function sendRequest() {
        var method = $('#method').val();
        var serviceUrl = "http://localhost/CorsService/api/Test";
        $.ajax({
            type: method,
            url: serviceUrl,
            success: function (data) {
                $('#value1').text(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#value1').text(jqXHR.responseText || textStatus);
            }
        });
    }
</script>